.App {
  text-align: center;
  font-family:'Times New Roman',cursive;
  background-color: lightgoldenrodyellow;

}


.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(225, 16, 16);
}

.propshead{
  color: black;
}
